<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <h1>🛍 Local Store</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/login">Login</a>
    </nav>
</header>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-container">
            {% for message in messages %}
                <div class="flash-message">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<h2 class="title">Our Products</h2>

<div class="search-box">
    <form action="/products" method="GET">
        <input
            type="text"
            name="search"
            placeholder="Search products..."
            value="{{ search }}"
        >
        <button type="submit">Search</button>
    </form>
</div>

<div class="products">

    {% for product in products %}


    <div class="card">

    {% if product['id'] == 1 %}
        <img src="{{ url_for('static', filename='images/products/wireless_mouse.jpg') }}" alt="Wireless Mouse">
    {% elif product['id'] == 2 %}
        <img src="{{ url_for('static', filename='images/products/keyboard.jpg') }}" alt="Mechanical Keyboard">
    {% elif product['id'] == 3 %}
        <img src="{{ url_for('static', filename='images/products/headphones.jpg') }}" alt="Bluetooth Headphones">
    {% elif product['id'] == 4 %}
        <img src="{{ url_for('static', filename='images/products/smartwatch.jpg') }}" alt="Smart Watch">
    {% endif %}

    <h3>{{ product["name"] }}</h3>
    <p class="price">${{ product["price"] }}</p>

    <a href="/add_to_cart/{{ product['id'] }}">
        <button class="btn">Add to Cart</button>
    </a>

</div>

    {% endfor %}

</div>

<footer class="footer">

    <div class="footer-content">

        <div>
            <h3>🛍 Local Store</h3>
            <p>Your trusted online shopping destination.</p>
        </div>

        <div>
            <h3>Quick Links</h3>
            <a href="/">Home</a><br>
            <a href="/products">Products</a><br>
            <a href="/cart">Cart</a>
        </div>

        <div>
            <h3>Contact</h3>
            <p>Email: support@localstore.com</p>
            <p>Phone: +1 123-456-7890</p>
        </div>

    </div>

    <hr>

    <p class="copyright">
        © 2026 Local Store Ecommerce. All Rights Reserved.
    </p>

</footer>


</body>
</html>